* {
	box-sizing: border-box;
}

body {
	background-color: cornsilk;
	margin: 0;
}

button {
	border: none;
	border-radius: 6px;
	padding: 10px;
	font-size: 20px;
	color: rgb(0, 0, 0);
	background-color: rgb(159, 228, 225);
}

header .title {
	background-color: rgb(141, 3, 141);
	color: #fff;
	text-align: center;
	padding: 8px;
}

header h1, header h2 {
	margin: 0;
}

.card {
    text-align: center;
    width: 500px;
	margin: auto;
    border-radius: 6px;
    text-align: center;
	padding: 20px;
}

div.start .card p, .question.card span.question {
	font-size: 25px;
}

.card.question {
	display: none;
}

.card.question .options {
	padding: 0;
	list-style: none;
	margin-top: 35px;
}

.card.question .options > li {
	margin: 10px 80px;
}

.card.question .options > li label {
	background-color: #7ED2CF;
	display: block;
	padding: 10px;
	border-radius: 20px;
}

.card.question .options > li label:hover {
	background-color: #8EE8E5;
}

.card.question .options > li input:checked + label {
	background-color: #4D8E8C !important;
	color: #fff;
}

.card.question .options > li input {
	opacity: 0;
	display: none;
}

.card.finish p {
	font-size: 22px;
}

.card.finish .final_points {
	font-size: 40px;
	font-weight: bolder;
}

.play_again,
button.start {
	width: 100px;
	margin: 10px;
	color: black;
}

.main-footer {
    background-color: violet;
    color: bisque;
    padding: 0.5rem;
    text-align: center;
}